html {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: whitesmoke;
  background: $color-dark;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: rgba(66, 0, 94, 0.2);
}

::-webkit-scrollbar-thumb {
//   border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background: rgba(66, 0, 94, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-dark, 0.9);
}

main {
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}


// .overlay-container {
//   display: flex;
//   align-items: center;
//  justify-content: center;
// }

.overlay-container {
 background-image: url("https://nikolen.cz/assets/images/table-desktop.webp");
// background-image: url("/assets/images/banner-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  // display: flex;
  // align-items: center;
  //justify-content: center;
  width: 100%;
  height: 28rem;
}

// @media screen and (min-width: 768px) {
//   .overlay-container {
//     background-image: url("/assets/images/table-desktop.webp");
//   }
// }


.overlay-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  // background: linear-gradient(
  //   36deg,
  //   rgba($color-dark, 0.35) 30%,
  //   rgba($color-primary, 0.35) 65%
  // );
}

// #overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.3);
// }

section {
  border-bottom: 1px solid whitesmoke;
  padding: 2rem 0;
}

section:last-child {
  border-bottom: none;
}

body {
  background-color: rgb(230, 230, 230);
}

main a {
  color: #c8660a;
  font-weight: 600;
  // text-decoration:none;
}

@media (min-width: 992px) {
  section {
    padding: 6rem 0;
  }
}

@media (min-width: 1200px) {
  section {
    padding: 4rem 0;
  }
 main {
   margin-left: 15.5em;
 }
 .overlay-container {
   height: 35rem;
 }
}
