footer {
  position: absolute;
  width: 100%;
  background-color: $color-dark;
  color: $color-primary;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  
}

.footer-headline {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  padding: .8rem 0;
}

footer a {
  text-decoration: none;
}

footer .icon-box {
  background-color: $color-dark;
}

footer  .icon-container {
  margin: 1rem 0 2rem 0;
  gap: 4rem;
}

footer i {
  background: $color-primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}