/*FONT faces*/

/*Woff2 needs to be first loaded*/
/*Woff needs to be second loaded*/


@font-face {
  font-family: "Nunito";
  src: local("nunito regular"), local("nunito-regular"),
    url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito bold";
  src: local("nunito bold"), local("nunito-bold"),
    url("../fonts/nunito-bold-webfont.woff2") format("woff2"),
    url("../fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito black";
  src: local("nunito black"), local("nunito-black"),
    url("../fonts/nunito-black-webfont.woff2") format("woff2"),
    url("../fonts/nunito-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}


/*FONTS END*/