section#filter {
  @apply flex px-4 py-0 flex-wrap gap-4 justify-center items-center;
}

section#projects {
  @apply pt-5 sm:pt-10;
}

.cards__wrapper {
  @apply grid w-fit mx-auto gap-4 px-4;
  @apply sm:grid-cols-2;
  @apply xl:grid-cols-3 xl:max-w-7xl;
  @apply 1920:max-w-fit;
}

.card {
  @apply flex flex-col rounded-sm shadow-md grid-cols-1 my-6 lg:gap-x-10 place-items-center;
  @apply lg:place-items-start lg:grid-cols-1;
  &.hidden {
    display: none;
  }
}


.card__image {
  @apply w-full aspect-[16/9] -z-10 object-cover max-w-[960px] shadow-xl h-auto mb-8;
  @apply lg:mb-0;
}

.card__image--small {
  @apply max-w-lg justify-self-end mr-0 md:mr-12;
}

.card__inner {
  @apply w-full flex flex-col justify-center h-full p-4 lg:p-6 lg:pt-4;
  header {
    @apply flex flex-col;
  }
}

.card__section {
  @apply mb-7;
  a:hover {
    @apply text-violet-800;
  }
}

.card__title {
  @apply text-xl mb-3 lg:mb-4 order-2 text-left;
}

.card__text {
  @apply text-base mt-0;
}

.labels__item {
  @apply inline-block px-2 py-1 font-bold my-1 border-2 rounded-3xl text-sm;
}

.labels__item--orange {
  @apply text-orange-900 border-orange-600;
}

.labels__item--purple {
  @apply text-purple-900 border-purple-700;
}

.card footer {
  @apply flex-grow;
}

.card__footer__list {
  @apply list-disc list-inside;
  li.website--icon {
    list-style-type: none;
    &::before {
      content: "";
      background-image: url("/img/web-list.svg");
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      margin-bottom: -4px;
      margin-inline: 4px;
  }
}
  li.github--icon {
    list-style-type: none;
    &::before {
      content: "";
      background-image: url("/img/github-list.svg");
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      margin-bottom: -4px;
      margin-inline: 4px;
    }

  }
}

li::marker {
  @apply text-2xl;
}

dialog {
  @apply max-w-3xl rounded-md p-7;
}

::backdrop {
  @apply bg-black bg-opacity-50;
}

.close__dialog {
  @apply absolute right-2 top-2 md:top-4 md:right-8 text-[1.5rem] md:text-[2rem] font-semibold leading-8;
}
