.timeline__wrapper {
  @apply grid grid-flow-col pl-8 md:pl-4 gap-x-4 max-w-7xl mx-auto relative;
}

.timeline__list {
  @apply grid gap-x-16 lg:grid-cols-2 gap-y-4;
}

.timeline__item {
  @apply max-w-lg shadow-md relative;
  &:nth-child(even) {
    @apply lg:col-start-2; 
    &:before {
      @apply  -left-4 lg:-left-8;
      content: '';
    }
    &:after {
      @apply -left-4 lg:-left-8;
      content: '';
    }
  }
  &:before {
    @apply absolute h-4 w-4 rounded-full bg-violet-200 border-2 border-violet-500 top-1/2 -left-4 lg:left-auto lg:-right-12 transform -translate-x-1/2 -translate-y-1/2 z-10;
    content: '';
  }
  &:after {
    @apply absolute h-[110%] w-[2px] bg-violet-200 -left-4 lg:-right-[2.15rem] lg:left-auto top-[-3%] transform -translate-x-1/2;
    content: '';
  }
  &:first-child {
    &:after {
      @apply h-2/3 top-1/2;
    }
  }
  &:last-child {
    &:after {
      @apply h-1/2 top-0;
    }
  }
}

@for $i from 1 through 10 {
  .timeline__item:nth-child(#{$i}) {
    grid-row-start: $i;
  }
}

.timeline__article {
@apply p-4 lg:p-6;
  }

.article__header {
    @apply grid;
  }

.article__year {
  @apply text-orange-500 text-2xl font-semibold tracking-wide;
}

.article__title {
  @apply text-2xl font-bold order-2 text-left mb-2;
}

.type__label {
  @apply text-sm p-2 bg-violet-50/40 align-middle border border-violet-100 rounded-md;
}

.article__subtitle {
  @apply text-xl my-3 font-semibold;
}

.article__text {
  @apply text-base my-3;
}

